<div class= "add_remove_dev_qa">

  <h1>Assign Developers and QA's to this Project</h1>  <br/>

  <div class= "add_remove_dev">
    <%= form_with url: prouse_add_developer_path(@project.id), local: true do |f|%>
    <%= f.select(:developer_for_this_project, @all_developers-@project_developers , {}, {class: "form-control input-md select_fild"}) %>
    <%= f.hidden_field :project, :value => @project.id %>
    <%= f.submit "Add Developer To This Project", class: 'btn btn-success btn-md btn-block'%>
    <% end %>
  </div>

  <div class= "add_remove_qa">
    <%= form_with url: prouse_add_qa_path(@project), local: true do |f| %>
    <%= f.select(:qas_for_this_project, @all_qas-@project_qas , {}, { class: "form-control input-md select_fild"}) %>
    <%= f.hidden_field :project, :value => @project.id %>
    <%= f.submit "Add QA To This Project" , class: 'btn btn-success btn-md btn-block'%>
    <% end %>
  </div>

</div>
