<%= render "shared/navigationbar" %>

<br />

<div class="bugs_and_projects_table">

  <h1>Your Projects</h1>
  <br />

  <%= render "shared/currentuserprojects" %>

<%if ( current_user.user_type=='Manager') %>
<%= link_to 'Create New Project', new_project_path , {:style=>'width:15%;', :class => "btn btn-success"}%>
<% end %>
<%= link_to 'Back', root_path , { :class => "btn btn-primary btn-md"}%>
</div>

<br />

<%= render "shared/otherusersprojects" %>
