<h1>Your Projects</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% current_user.projects.each do |project| %>
    <tr>
      <td><%= project.title %></td>
      <td><%= project.description%></td>
      <td><%= link_to 'Show', project_path(project) %></td>
      <%if ( current_user.user_type=='Manager') %>
      <td><%= link_to 'Edit', edit_project_path(project) %></td> |
      <td><%= link_to 'Destroy', project_path(project),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<h1>Other Projects</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
  </tr>

  <% @projects.each do |project| %>
  <% if project.users.pluck(:id).include?(current_user.id)%>
  <p></p>

  <% else %>
  <tr>
      <td><%= project.title %></td>
      <td><%= project.description%></td>
      <td><%= link_to 'Show', project_path(project) %></td>
     <%if (current_user.id == project.users.pluck(:id))%>
        <td><%= link_to 'Edit', edit_project_path(project) %></td>
        <td><%= link_to 'Destroy', project_path(project),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end %>

  <% end %>
</table>
