<nav class="navbar navbar-light " style="background-color: #00203FFF; border-radius: 0; padding: 20px 50px; box-shadow: 0 8px 8px -2px rgba(0,0,0,.2);">
  <span class="navbar-brand" style=" font-size:20px;color: white;">BUGZILLA</span>
  <%= link_to "Sign out", destroy_user_session_path ,
  {:method => :delete, :style=>'color:white; font-size:15px; width:10%; margin-top: 5px; padding: 10px; color: white; float: right;',
   :class => "btn btn-lg btn-danger"}%>
</nav>

<body style="background-color: #00203FFF;">
<section class="container mx-auto" style=" padding:130px 200px 0; ">
<div class="row" style=" padding: 50px 100px; border-radius: 5px;background-color: white;">
   <div class="col">
<h3 style="letter-spacing: 1px;" class="text-center">Add New Project</h3>

<%= form_with scope: :project, url: projects_path, local: true do |form| %>

<% if @project.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@project.errors.count, "error") %> prohibited
        this project from being saved:
      </h2>
      <ul>
        <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %><br>
    <%= form.text_field :title , class: 'form-control input-lg'%>
    </div>

  <div class="form-group">

    <%= form.label :description %><br>
    <%= form.text_area :description , class: 'form-control input-lg'%>
   </div>

  <div class="pt-1 mb-4">
    <%= form.submit "Add this Project" , class: 'btn btn-info btn-lg btn-block'%>
  </div>
  <br/>
<% end %>
<%= link_to 'Back', projects_path %>
  </div>
  </div>
</section>
</body>
