<%= render "shared/navigationbar" %>

<body style="background-color: #00203FFF;">
  <section class="container mx-auto" style=" padding:130px 200px 0; ">
    <div class="row" style=" padding: 50px 100px; border-radius: 5px;background-color: white;">
     <div class="col">
      <h3 style="letter-spacing: 1px;" class="text-center">Add New Project</h3>

      <%= form_with scope: :project, url: projects_path, local: true do |form| %>

      <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@project.errors.count, "error") %> prohibited
          this project from being saved:
        </h2>
        <ul>
          <% @project.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div class="form-group">
        <%= form.label :title %><br>
        <%= form.text_field :title , class: 'form-control input-lg'%>
      </div>

      <div class="form-group">

        <%= form.label :description %><br>
        <%= form.text_area :description , class: 'form-control input-lg'%>
      </div>

      <div class="pt-1 mb-4">
        <%= form.submit "Add this Project" , class: 'btn btn-info btn-lg btn-block'%>
      </div>
      <br/>
      <% end %>
      <%= link_to 'Back', projects_path %>
    </div>
  </div>
</section>
</body>
