<%= render "shared/navigationbar" %>

<%= render "shared/projectdetails" %> <br/>  <br/>

<%if (@project.users.pluck(:id).include?(current_user.id) && current_user.user_type=='Manager') %>

<%= render "shared/assigndeveloperandqa" %>  <br/>  <br/>

<%= render "shared/removedeveloperandqa" %>

<% end %>

<%if (current_user.user_type=='Developer') %>

<div class="bugs_and_projects_table">

  <h1>Your Assigned Bug & Features</h1>  <br />

  <%= render "shared/bugstablefordeveloper" %>

</div>

<% end %>

<div class="bugs_and_projects_table">
  <%if (current_user.user_type!='QA') %>
  <br />
  <br />
  <% end %>
  <h1>Bugs & Features</h1>
  <br />

<%= render "shared/bugtableformanagerandqa" %>

<%if (current_user.user_type=='QA') %>
<%= link_to 'Add New Bug', new_project_bug_path(@project) , {:style=>'width:15%;', :class => "btn btn-success"}%>
<% end %>
</div>
