<p>
  <strong id="st">Title:</strong>
  <%= @project.title %>
 <%=  @project.users.pluck(:username) %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @project.description %>
</p>
<%if (@project.users.pluck(:id).include?(current_user.id) && current_user.user_type=='Manager') %>
  <%= link_to 'Edit', edit_project_path(@project) %> |
<% end %>
<%= link_to 'Back', projects_path %>


<br/>
<br/>

<%if (@project.users.pluck(:id).include?(current_user.id) && current_user.user_type=='Manager') %>
<strong>Assign Developers to the Project</strong>

<br/><br/>

<%= form_with url: prouse_adddev_path(@project.id), local: true do |f| %>

<%= f.select(:developer_for_this_project, @developers.pluck(:username)) %>

<%= f.hidden_field :project, :value => @project.id %>

<%= f.submit "Add Developer to This Project" %>

<% end %>

<br/>

<%= form_with url: prouse_removedev_path(@project.id), remote:true, local: true do |f| %>

<%= f.select(:developer_for_this_project, @developers.pluck(:username)) %>

<%= f.hidden_field :project, :value => @project.id %>

<%= f.submit "Remove Developer to This Project" %>

<% end %>

<br/>
<strong>Assign QAs to the Project</strong>
<br/><br/>

<%= form_with url: prouse_addqa_path(@project), local: true do |f| %>

<%= f.select(:qas_for_this_project, @qas.pluck(:username)) %>

<%= f.hidden_field :project, :value => @project.id %>

<%= f.submit "Add QA to This Project" %>

<% end %>

<br/>

<%= form_with url: prouse_removeqa_path(@project.id), remote:true, local: true do |f| %>

<%= f.select(:qas_for_this_project, @qas.pluck(:username)) %>

<%= f.hidden_field :project, :value => @project.id %>

<%= f.submit "Remove QA to This Project" %>

<% end %>


<% end %>
