<div id="welcome_page">

  <% if user_signed_in? %>

  <%= render "shared/navigationbar" %>

  <div class="welcome_page_content">

    <h1 class="text-center text-uppercase">Welcome to Bugzilla</h1>  <br/>

    <h4 class="text-center">
      Bugzilla is a robust, featureful and mature defect-tracking system, or bug-tracking system. Defect-tracking systems allow teams of
      developers to keep track of outstanding bugs, problems, issues, enhancement and other change requests in their products effectively.
      Simple defect-tracking capabilities are often built into integrated source code management environments such as Github or other web-based
      or locally-installed equivalents. We find organizations turning to Bugzilla when they outgrow the capabilities of those systems -
      for example, because they want workflow management, or bug visibility control (security), or custom fields.  <br/>  <br/>
      <%= current_user.username %> you are signed in as  <%= current_user.roles.pluck(:name).first%>  </h4>  <br/>  <br/>  <br/>

      <div>
       <%= link_to "View your Projects", projects_path , {:style=>'width:30%;', :class => "btn btn-lg btn-success w-100"}%>
     </div>

   </div>

   <% else %>

   <%= render "shared/notSignedInNavbar" %>

   <div class="welcome_page_content notsigned">

     <h1 class="text-center text-uppercase ">Welcome to Bugzilla</h1>  <br/>

     <h4 class="text-center">
      Bugzilla is a robust, featureful and mature defect-tracking system, or bug-tracking system. Defect-tracking systems allow teams of
      developers to keep track of outstanding bugs, problems, issues, enhancement and other change requests in their products effectively.
      Simple defect-tracking capabilities are often built into integrated source code management environments such as Github or other web-based
      or locally-installed equivalents. We find organizations turning to Bugzilla when they outgrow the capabilities of those systems -
      for example, because they want workflow management, or bug visibility control (security), or custom fields.  <br/>  <br/>
      <span style="color: red;">You are not signed in.</span> Please </h4>  <br/>  <br/>  <br/>

      <div>
       <%= link_to "Sign In", new_user_session_path , {:style=>'width:20%;', :class => "btn btn-lg btn-success w-100"}%> or
       <%= link_to "Register", new_user_registration_path , {:style=>'width:20%;', :class => "btn btn-lg btn-primary w-100"}%>
     </div>

   </div>

   <% end %>

 </div>
