<%= render "shared/navigationbar" %>

<div class="jumbotron">

  <h1> <%= @bug.title %> </h1>
  <p class="lead"> <%= @bug.description %> </p>

  <hr class="my-4">

  <strong>Deadline:</strong> <%= @bug.deadline %>  <br/>  <br/>

  <strong>Screenshot:</strong> <br/> <br/>
  <p>
    <% if @bug.screenshot.attached?%>
    <%= image_tag @bug.screenshot, width:"500px"%>
    <% end %>
  </p>

  <strong>Status: </strong><%= @bug.status %> <br/><br/>

  <%= link_to 'Back', project_path , { :class => "btn btn-primary btn-sm"}%>  <br/>  <br/>
</div>
