<!DOCTYPE html>
<html>
  <head>
    <title>BugzillaTest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <% flash.each do |type, message| %>
  <div style="margin-bottom: 0px;" class="alert <%= bootstrap_class_for(type) %> alert-dismissible" role="alert">
    <button type="button" class="close" data-bs-toggle="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= message %>
  </div>
  <% end %>
  <%= yield %>

  </body>
</html>
